<mat-toolbar role="heading" color="primary" class="app-toolbar">
    <button mat-icon-button class="button-icon" color="accent" aria-label="Account Actions" routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <span class="flex-item-fill-remaining-space"> </span>
    <h1>Gloomhaven Tools</h1>
    <span class="flex-item-fill-remaining-space"> </span>

    <button mat-icon-button class="button-icon" color="accent" aria-label="Account Actions"
        [matMenuTriggerFor]="accountActionsMenu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="button-icon" color="accent" aria-label="Menu Actions and Navigation"
        [matMenuTriggerFor]="actionsAndNavigationMenu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #accountActionsMenu="matMenu" xPosition="before">
    <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Log in</span>
    </button>
    <button mat-menu-item routerLink="/player/scenario">
        <mat-icon>folder_shared</mat-icon>
        <span>Scenario</span>
    </button>
    <button mat-menu-item (click)="openInitiativeDialog()">
        <mat-icon>update</mat-icon>
        <span>Initiative</span>
    </button>
    <!--
    <button mat-menu-item [matMenuTriggerFor]="campaignSelection"> Campaign </button>
    <button mat-menu-item [matMenuTriggerFor]="partySelection"> Party </button>
    <button mat-menu-item [matMenuTriggerFor]="CharacterSelection"> Character </button>
    -->
</mat-menu>

<mat-menu #actionsAndNavigationMenu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="partySelection"> Party </button>
    <button mat-menu-item [matMenuTriggerFor]="CharacterSelection"> Character </button>
    <button mat-menu-item routerLink="/playerref"> 
        <mat-icon>school</mat-icon>
        <span>Player Reference</span>
    </button>
    <button mat-menu-item>
        <mat-icon>store</mat-icon>
        <span>Item Shop</span>
    </button>
    <button mat-menu-item>
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>Initiative Tracker</span>
    </button>
    <button mat-menu-item>
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>Scenario Tree</span>
    </button>
</mat-menu>

<mat-menu #partySelection="matMenu">
    <button mat-menu-item disabled>Campaign1</button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyA</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyB</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyC</span>
    </button>
    <button mat-menu-item disabled>Campaign2</button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyA</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyB</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyC</span>
    </button>
    <button mat-menu-item disabled>Campaign3</button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Whoay</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>PartyName!</span>
    </button>
    <button mat-menu-item>
        <mat-icon>group</mat-icon>
        <span>Winners:)</span>
    </button>
</mat-menu>

<mat-menu #CharacterSelection="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Character1</span>
    </button>
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Character2</span>
    </button>
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>JoeBob</span>
    </button>
</mat-menu>