<mat-toolbar role="heading" color="primary" class="app-toolbar">
    <button mat-icon-button class="button-icon" color="accent" aria-label="Account Actions" routerLink="/home">
        <mat-icon>home</mat-icon>
    </button>
    <span class="flex-item-fill-remaining-space"> </span>
    <h1 class="mat-headline">Gloomhaven Tools</h1>
    <span class="flex-item-fill-remaining-space"> </span>

    <button mat-icon-button class="button-icon" color="accent" aria-label="Account Actions"
        [matMenuTriggerFor]="accountActionsMenu">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="button-icon" color="accent" aria-label="Menu Actions and Navigation"
        [matMenuTriggerFor]="actionsAndNavigationMenu">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #accountActionsMenu="matMenu" xPosition="before">
    <button mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Log in</span>
    </button>
    <button mat-menu-item routerLink="/player/scenario">
        <mat-icon>folder_shared</mat-icon>
        <span>Scenario</span>
    </button>
    <button mat-menu-item (click)="openInitiativeDialog()">
        <mat-icon>update</mat-icon>
        <span>Initiative</span>
    </button>
    <!--
    <button mat-menu-item [matMenuTriggerFor]="campaignSelection"> Campaign </button>
    <button mat-menu-item [matMenuTriggerFor]="partySelection"> Party </button>
    <button mat-menu-item [matMenuTriggerFor]="CharacterSelection"> Character </button>
    -->
</mat-menu>

<mat-menu #actionsAndNavigationMenu="matMenu" xPosition="before">
    <button mat-menu-item [matMenuTriggerFor]="partySelection"> Party </button>
    <button mat-menu-item [matMenuTriggerFor]="CharacterSelection"> Character </button>
    <button mat-menu-item routerLink="/playerref"> 
        <mat-icon>school</mat-icon>
        <span>Player Reference</span>
    </button>
    <button mat-menu-item>
        <mat-icon>store</mat-icon>
        <span>Item Shop</span>
    </button>
    <button mat-menu-item>
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>Initiative Tracker</span>
    </button>
    <button mat-menu-item>
        <mat-icon fontSet="material-icons-outlined">group</mat-icon>
        <span>Scenario Tree</span>
    </button>
</mat-menu>

<mat-menu #partySelection="matMenu">
    <ng-template ngFor let-camp [ngForOf]="campaignMinis" let-i="index">
        <hr *ngIf="i>0" (click)="$event.stopPropagation();">
        <div class="appGlm-div-centered" (click)="$event.stopPropagation();">{{camp.name}}</div>
        <ng-template ngFor let-prty [ngForOf]="camp.parties">
            <button mat-menu-item (click)="onPartyClick(prty)" routerLink="/party" [queryParams]="{id: prty.id}">
                <mat-icon>group</mat-icon>
                <span>{{prty.name}}</span>
            </button>
        </ng-template>
    </ng-template>
</mat-menu>

<mat-menu #CharacterSelection="matMenu">
    <button mat-menu-item [disabled]="disp.disabled" *ngFor="let disp of charDisplayList;">
        <mat-icon *ngIf="!(disp.disabled)">person</mat-icon>
        <span>{{disp.text}}</span>
    </button>
</mat-menu>