<div mat-dialog-content>
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Initiative:</mat-label>
      <input #init matInput placeholder="Ex. 23" [formControl]="initiative" [errorStateMatcher]="matcher" cdkFocusInitial>
      <mat-error>{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="init.value" [disabled]="initiative.invalid || init.value==''">Enter</button>
</div>
