.container{
	margin: 0 1em;
}

.form-center{
	width: 165px;
	display: block;
	margin: 0 auto;
}

.big-spacer{
	display: inline-block;
	width: 10px;
}

.small-spacer{
	display: inline-block;
	width: 2px;
}