<div class="div-page" *ngIf="errorMessage">
	<div class="div-md-centered-text">
		<div class="appGlm-div-rcorners">
			<p>{{errorMessage}}</p>
		</div>
	</div>
</div>

<div class="div-page" *ngIf="newCharacter">
	<div class="div-md-centered-text">
		<div class="appGlm-div-rcorners">
			<app-create-character-form (newDocId)="changeDocId($event)">
			</app-create-character-form>
		</div>
	</div>
</div>

<div class="div-page" *ngIf="!newCharacter && characterFile">
	<div class="div-md-centered-text">
		<div class="appGlm-div-rcorners">
			<app-character-sheet [characterFile]="characterFile"></app-character-sheet>
		</div>
	</div>
</div>