<p>google-picker works?</p>

<button (click)="getUserObj()">Log In</button><br><br>
<button (click)="loadGooglePicker()">Load Google Drive</button><br><br>
<button (click)="signOut()">SignOut</button><br><br>
<button (click)="revokeAccess()">Revoke Access</button><br><br>
<button (click)="listFiles()">listFiles</button><br><br>
<button (click)="setFolder()">Set Folder ID</button><br><br>
<button (click)="createFile()">Create File</button><br><br>
<button (click)="updateFile()">Update File</button><br><br>