<button mat-raised-button (click)="getUserObj()">Log In</button>
<button mat-raised-button (click)="loadGooglePicker()">Load Google Drive</button>
<button mat-raised-button (click)="signOut()">SignOut</button>
<button mat-raised-button (click)="revokeAccess()">Revoke Access</button><br>
<button mat-raised-button (click)="listFiles()">listFiles</button>
<button mat-raised-button (click)="setFolder()">Set Folder ID</button>
<button mat-raised-button (click)="loadFiles()">Load All Accessable Files</button>
<button mat-raised-button (click)="listLoadedFiles()">List All Loaded Files</button><br>
<button mat-raised-button (click)="clearAllDocuments()">Clear All Documents</button><br>