<div class="div-page">
    <div class="div-md-centered-text">
        <br>
        <hr>
        <h2 class="mat-title">Welcome intrepid mercenary</h2>
        <p>
            It's brave of you to have ventured into Gloomhaven, things are not all they appear. Perhaps you'll need some guidance along the way?
            I can see that the fates are not done with you. Great triumphs, great failures, supreme virtue, or cunning vice: I care not.
            Every adventurer requires a scribe, no? After an unfortunate incident (involving an errow to the knee) I'm not any help 
            on the battlefield, but keep me in your employ and I'll make it worth your while.
        </p>
        <p>
            I'll keep track of your accomplishments, to start - though my services don't stop there. My keen mind, suburb memory, and 
            unparalleled navigation skills will undoubidly prove useful as well. I require only your indulgence until such a time as 
            you're ready to give up your mantle as a mercenary and retire. Then I'll carry forward any knowledge we've gathered to aid 
            the next adventurer that catches my fancy. I have a keen eye for the sort who are fated. Bound up with greatness. 
        </p>
        <hr>
        <h2 class="mat-title">Exercitation Ullamco laboris</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <hr>
    </div>
</div>
